@import url("../../styles/reset.css");
@import url("../../styles/global.css");

.filtro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filtro > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.filtro > h2 {
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--grey-4);
}

.filtro > div > button {
  background-color: var(--grey-2);
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  color: var(--grey-4);
  transition: 1s;
}

.filtro > div > button:hover {
  background-color: var(--color-primary);
  color: var(--grey-1);
}
