@import url("../../styles/reset.css");
@import url("../../styles/global.css");

.dash__container > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: solid 1px var(--grey-2);
  width: 100%;
  margin-bottom: 2rem;
}

header > h2 {
  font-size: 2rem;
  font-weight: 900;
  width: 400px;
}

header > h2 > span {
  color: var(--color-primary);
}

header > button {
  border: none;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--grey-2);
  color: var(--grey-4);
  font-weight: 700;
  transition: 1s;
}

header > button:hover {
  background-color: var(--grey-3);
}
